<h1> Listing all Annoucements </h1>

<p>
<%= button_to "Create New Annoucement", new_announcement_path, :method => :get %>
</p>

<table>
  <tr>
    <th>Annoucement</th>
    <th>Details</th>
    <th>Priority</th>
  </tr>

  <% @announcementsbase.each do |announcement| %>
  <tr>
    <td><%= announcement.announcement %></td>
    <td><%= announcement.details %></td>
    <td><%= announcement.priority %></td>
    <td><%= button_to "Show Announcement", announcement_path(announcement), :method => :get %></td>
    <td><%= button_to "Edit Announcement", edit_announcement_path(announcement), :method => :get %></td>
    <td><%= button_to "Delete Announcement", announcement_path(announcement), :method => :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>